html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-light'),
  url('../fonts/Montserrat-light.woff2') format("woff2"),
  url('../fonts/Montserrat-light.woff') format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-regular-webfont'),
  url('../fonts/montserrat-regular-webfont.woff2') format("woff2"),
  url('../fonts/montserrat-regular-webfont.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-medium'),
  url('../fonts/Montserrat-medium.woff2') format("woff2"),
  url('../fonts/Montserrat-medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-semibold'),
  url('../fonts/Montserrat-semibold.woff2') format("woff2"),
  url('../fonts/Montserrat-semibold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-bold-webfont'),
  url('../fonts/montserrat-bold-webfont.woff2') format("woff2"),
  url('../fonts/montserrat-bold-webfont.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-extrabold'),
  url('../fonts/Montserrat-extrabold.woff2') format("woff2"),
  url('../fonts/Montserrat-extrabold.woff') format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-black'),
  url('../fonts/Montserrat-black.woff2') format("woff2"),
  url('../fonts/Montserrat-black.woff') format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-background: #E5E5E5;
  --color-content: #FFFFFF;
  --color-ul: #333333;
  --color-focus: #FF9900;
  --color-active: #E1670E;
  --color-border: #CACACA;
}

body {
  font-family:  'Montserrat', sans-serif;
  background-color: var(--color-content);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.section {
  margin-bottom: 100px;
}

/* header */

.header {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: var(--color-content);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3);
}

.header__logo {
  max-width: 224px;
  height: 72px;
}

.header__svg-header {
  display: none;
  height: 23px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__ul {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-ul);
}

.header__list {
  margin-right: 83px;
}

.header__nav {
  display: flex;
}

.header__link {
  transition-property: outline, color, border;
  transition-duration: 0.2S;
  transition-timing-function: ease-in-out;
}

.header__link:focus {
  outline: 2px solid var(--color-focus);
}

.header__link:hover {
  border-bottom: 2px solid var(--color-focus);
}

.header__link:active {
  border-bottom: 2px solid var(--color-active);
  color: var(--color-active);
  outline: none;
}

.header__button {
  transition-property: outline, color, border, stroke;
  transition-duration: 0.2S;
  transition-timing-function: ease-in-out;
}

.header__button:focus {
  outline: 2px solid var(--color-focus);
}

.header__button:hover .header__svg rect {
  fill: var(--color-focus);
}

.header__button:hover .header__svg path {
  stroke: var(--color-focus);
}

.section-slider__button-svg {
  min-width: 15px;
  min-height: 15px;
  padding: 0;
}

.section-slider__button-slide {
  padding: 0;
}

.section-slider__button-slide:not(:last-child) {
  margin-right: 20px;
}

/* section-slider */

.section-slider__content {
  padding: 100px 105px 28px 81px;
  background-image: url(../img/low-angle-photo-of-balconies-2462015\ 1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-slider__content-area {
  max-width: 813px;
}

.section-slider__h1 {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-content);
  margin: 0;
  margin-bottom: 24px;
}

.section-slider__descr {
  max-width: 790px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-content);
  margin: 0;
  margin-bottom: 84px;
}

.section-slider__button {
  padding: 24.83px 36.88px;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: var(--color-content);
  background-color: var(--color-focus);
  transition-property: backgroung-color;
  transition-duration: 0.2S;
  transition-timing-function: ease-in-out;
  margin-bottom: 55px;
}

.section-slider__button:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.section-slider__button:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.section-slider__button:active {
  background-color: var(--color-active);
}

.section-slider__block-slide {
  padding-left: 758px;
}

/* section-about */

.section-about__h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-ul);
  margin: 0;
  margin-bottom: 20px;
}

.section-about__main-descr {
  max-width: 1250px;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  color: var(--color-ul);
  margin: 0;
  margin-bottom: 43px;
}

.section-about__arcticle {
  display: flex;
  justify-content: space-between;
}

.section-about__big-block {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 868px;
  min-height: 622px;
  background-image: url(../img/Rectangle\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-about__descr-background {
  padding: 50px;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-about__big-div-descr {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-content);
  margin: 0;
  max-width: 454px;
}

.section-about__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-content);
  padding: 20px 38px;
  border: 3px solid var(--color-focus);
  transition-property: background-color, border;
  transition-duration: 0.2S;
  transition-timing-function: ease-in-out;
}

.section-about__button:focus {
  background-color: var(--color-focus);
}

.section-about__button:hover {
  background-color: var(--color-focus);
}

.section-about__button:active {
  background-color: var(--color-active);
  border: none;
}

.section-about__small-block {
  max-width: 870px;
  padding: 67px 116px 65px 300px;
  background-image: url(../img/section-about__svg1.svg);
  background-position: calc(60px);
  background-repeat: no-repeat;
  border: 1px solid var(--color-border);
  min-height: 295px;
}

.section-about__small-block:not(:last-child) {
  margin-bottom: 32px;
}

.section-about__small-block_background {
  background-image: url(../img/section-about__svg2.svg);
}

.section-about__h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: var(--color-ul);
  margin-bottom: 14px;
}

.section-about__small-div-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  color: var(--color-ul);
  margin: 0;
  max-width: 450px;
}

/* section-work */

.section-work__h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-ul);
  margin: 0;
  margin-bottom: 47px;
}

.section-work__ul {
  display: flex;
  margin-bottom: 45px;
}

.section-work__list {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.section-work__list:first-of-type {
  color: var(--color-active);
}

.section-work__link {
  transition-timing-function: ease-in-out;
  transition-property: color, outline;
  transition-duration: 0.2S;
}

.section-work__link:focus {
  outline: 2px solid var(--color-focus);
}

.section-work__link:hover {
  color: var(--color-focus);
}

.section-work__link:active {
  color: var(--color-active);
  outline: none;
}

.section-work__list:not(:last-child) {
  margin-right: 85px;
}

.section-work__big-block {
  display: flex;
  justify-content: space-between;
}

.section-work__block-button {
  display: flex;
}

.section-work__small-block {
  width: 100%;
  margin-right: 135px;
}

.section-work__h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-ul);
  margin: 0;
  margin-bottom: 6px;
}

.section-work__descr {
  max-width: 758px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-ul);
  margin: 0;
  margin-bottom: 47px;
}

.section-work__button_detail {
  padding: 20px 38px;
  background-color: var(--color-focus);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-content);
  margin: 0;
  margin-right: 32px;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: .2S;
}

.section-work__button_detail:focus {
  background-color:  #F7B045;
}

.section-work__button_detail:hover {
  background-color:  #F7B045;
}

.section-work__button_detail:active {
  background-color: var(--color-active);
}

.section-work__button_contract {
  padding: 20px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-ul);
  border: 1px solid var(--color-ul);
  margin: 0;
  transition-property: background-color, color, border, padding;
  transition-timing-function: ease-in-out;
  transition-duration: .2S;
}

.section-work__image-block {
  min-width: 870px;
  height: auto;
}

.section-work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-work__button_contract:focus {
  background-color: #666666;
  color: var(--color-content);
}

.section-work__button_contract:hover {
  background-color: #666666;
  color: var(--color-content);
}

.section-work__button_contract:active {
  background-color: #000000;
  color: var(--color-content);
}

/* section-faq */

.section-faq__h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-ul);
  margin: 0;
  margin-bottom: 41px;
}

.section-faq__list {
  justify-content: space-between;
  align-items: center;
}

.section-faq__link {
  display: flex;
  padding-bottom: 29px;
  padding-top: 29px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--color-border);
  justify-content: space-between;
  align-items: center;
  transition-property: fill, color, border;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2S;
  margin-top: -1px;
}

.section-faq__link:first-of-type {
  border-top: 1px solid var(--color-border);
}

.section-faq__li:not(:last-child) {
  margin: 0;
}

.section-faq__descr {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-ul);
  margin: 0;
}

.section-faq__link:focus {
  color: var(--color-focus);
  border-top: 1px solid var(--color-focus);
  border-bottom: 1px solid var(--color-focus);
}

.section-faq__link:focus p {
  color: var(--color-focus);
}

.section-faq__link:focus path {
  fill: var(--color-content);
}

.section-faq__link:focus ellipse {
  fill: var(--color-focus);
}

.section-faq__link:hover {
  color: var(--color-focus);
  border-top: 1px solid var(--color-focus);
  border-bottom: 1px solid var(--color-focus);
}

.section-faq__link:hover p {
  color: var(--color-focus);
}

.section-faq__link:hover path {
  fill: var(--color-content);
}

.section-faq__link:hover ellipse {
  fill: var(--color-focus);
}

.section-faq__link:active svg {
  transform: rotate(45deg);
}

.section-faq__link:active {
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.section-faq__link:active p {
  color: var(--color-ul);
}

.section-faq__link:active path {
  fill: #666666;
}

.section-faq__link:active ellipse {
  fill: #ECECEC;
}

.section-faq {
  margin-bottom: 88px;
}

.section-faq__list a p svg {
  min-width: 50px;
  min-height: 50px;
}

/* footer */

.footer {
  background-color: #222222;
}

.footer__link {
  transition-timing-function: ease-in-out;
  transition-property: color, outline;
  transition-duration: .2S;
}

.footer__link:focus {
  outline: 1px solid var(--color-focus);
}

.footer__link:hover {
  color: var(--color-focus);
}

.footer__link:active {
  color:var(--color-active);
  outline: none;
}

.footer__content {
  padding: 50px 0;
  display: flex;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__block-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__ul-social-web {
  display: flex;
}

.footer__ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 90px;
}

.footer__list {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-border);
  margin: 0;
}

.footer-li:not(:last-child) {
  margin-bottom: 7px;
}

.footer__list-logo {
  margin: 0;
}

.footer__list-logo:not(:last-child) {
  margin-right: 25px;
}

.footer__nav-block {
  margin-right: 358px;
}

.footer__link-list-logo {
  transition-property: fill, outline;
  transition-timing-function: ease-in-out;
  transition-duration: .2S;
}

.footer__link-list-logo:focus {
  outline: 1px solid var(--color-focus);
}

.footer__link-list-logo:hover path{
  fill: var(--color-focus);
}

.footer__link-list-logo:active path {
  fill: var(--color-active);
  outline: 0;
}

.footer__block-input {
  min-width: 571px;
  margin-right: auto;
  padding-top: 5px;
}

.footer__h3 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-border);
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__input {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-border);
  background-color: #414141;
  transition-property: background-color, color;
  transition-duration: .2S;
  transition-timing-function: ease-in-out;
}

.footer__input:focus {
  background-color: #666666;
}

.footer__input:hover {
  background-color: #666666;
}

.footer__input:active {
  background-color: #666666;
  color: var(--color-content);
}

.footer__input:not(:last-child) {
  margin: 0;
  margin-bottom: 25px;
}

.footer__input-fio,
.footer__input-mail,
.footer__input-sms {
  min-width: 100%;
}

.footer__input-sms {
  height: 150px;
  padding: 14px 0 0 24px;
}

.footer__input-sms::placeholder {
  margin: 0;
  padding: 0;
}

.footer__input-fio,
.footer__input-mail {
  height: 60px;
  padding-left: 24px;
}

.footer__form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.footer__button {
  padding: 19px 52px;
  background-color: var(--color-focus);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--color-content);
  margin: 0;
  margin-right: 12px;
  transition-property: background-color;
  transition-duration: .2S;
  transition-timing-function: ease-in-out;
}

.footer__button:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.footer__button:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.footer__button:active {
  background-color: var(--color-active);
}

.footer__block-descr  {
  padding: 87px 0;
  max-width: 363px;
}

.footer__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-border);
}

.footer__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-border);
  position: relative;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label span {
  border: 1px solid #fff;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 0.25em;
  margin: 4px 8px 8px 8px;
  padding: 2px;
  padding-top: 6px;
  text-align: center;
  vertical-align: middle;
}

input[type=checkbox]:checked + label span::after {
  content: "\2713";
}

